<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Sign Up</h1>
            <form (ngsubmit)="onSubmit(f)" #f="ngForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg"
                         id="name" placeholder="Full Name" ng-model>
                         <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                         <div [hidden]="!name.hasError('required')">Name is required</div>
                         <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
                      </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="email" placeholder="Email" ng-model
                        required
                        [(ngModel)]="model.email" name="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        #email="ngModel">
                        <div [hidden]="email.valid || email.pristine"
                        class="alert alert-danger">
                        <div [hidden]="!email.hasError('required')">Email is required</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password" ng-model>                   </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="cpassword" placeholder="Repeat Password" ng-model>
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"  (click)="onSubmit()" > Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']" > Log in </a>
            </form>
        </div>
    </div>
</div>
